#ifndef DataModel_HeaderFile
#define DataModel_HeaderFile

#include <Standard_Boolean.hxx>
#include <Standard_Handle.hxx>
#include <ActData_BaseModel.h>
#include <TDF_Label.hxx>

{% for entity_name, entity_data in schema.items() %}
  {% if entity_name not in ["DataTypes", "PropertySetDefinitions", "ObjectTypes", "Partitions"] %}
#include "BrNode_{{ entity_name }}.h"
  {% endif %}
{% endfor %}

/**
 * @brief 自动生成的业务模型管理类
 */
class DataModel : public ActData_BaseModel
{
public:
    DEFINE_STANDARD_RTTIEXT(DataModel, ActData_BaseModel)

public:
    enum PartitionID {
        {% for p_id, p_info in schema.Partitions.items() %}
        PID_{{ p_id }} = {{ p_info.id }},
        {% endfor %}
    };

    DataModel();

    void InitPartitions();
    TDF_Label GetPartitionLabel(const PartitionID pid) const;

    {% for entity_name, entity_data in schema.items() %}
    {% if entity_name not in ["DataTypes", "PropertySetDefinitions", "ObjectTypes", "Partitions"] %}
    Handle(BrNode_{{ entity_name }}) Add{{ entity_name }}();
    {% endif %}
    {% endfor %}
};

#endif
