#ifndef {{ class_name }}_HeaderFile
#define {{ class_name }}_HeaderFile

// Active Data includes (No Qt!)
#include <ActData_BaseNode.h>
#include <ActData_ParameterFactory.h>
#include <ActData_RealParameter.h>
#include <ActData_IntParameter.h>
#include <ActData_StringParameter.h>
#include <ActData_ShapeParameter.h>
#include <ActData_RealArrayParameter.h>
#include <TopoDS_Shape.h>
#include <TColStd_HArray1OfReal.h>
#include <NCollection_Sequence.hxx>

{% for entity_name in all_entity_names %}
class DataNode_{{ entity_name }};
{% endfor %}

{% if parent_class %}
#include "{{ parent_class }}.h"
{% endif %}

/**
 * @brief MDA Generated Node for {{ name }}
 * This class is part of the portable data model for Docker-based microservices.
 */
class {{ class_name }} : public {{ parent_class if parent_class else "ActData_BaseNode" }}
{
public:
    // OCCT RTTI
    DEFINE_STANDARD_RTTI_EXT({{ class_name }}, {{ parent_class if parent_class else "ActData_BaseNode" }})

public:
    // Parameter IDs (Tags)
    enum ParamId
    {
        PID_{{ attributes.keys() | first if attributes else "Dummy" }} = {{ parent_class }}::PID_Last,
{%- set first_attr = true -%}
{%- for attr_name in attributes.keys() -%}
    {%- if not loop.first -%}
        PID_{{ attr_name }},
    {%- endif -%}
{%- endfor %}
        PID_Last
    };

public:
    static Handle({{ class_name }}) Instance();

    // Initialization
    virtual void Init();

public:
    // Getters / Setters (MDA Generated)
    {% for attr_name, attr in attributes.items() %}
    // {{ attr.label }}
    void Set{{ attr_name }}(const {{ attr.cpp_type }}& value);
    {{ attr.cpp_type }} Get{{ attr_name }}() const;
    {% endfor %}

public:
    // Children management (MDA Generated)
    {% for child_name, child in children.items() %}
    // --- {{ child_name }} ({{ child.cardinality }}) ---
    {% if child.cardinality == "1" %}
    Handle({{ child.class_name }}) Get{{ child_name }}() const;
    void Set{{ child_name }}(const Handle({{ child.class_name }})& node);
    {% else %}
    void Add{{ child_name }}(const Handle({{ child.class_name }})& node);
    NCollection_Sequence<Handle({{ child.class_name }})> Get{{ child_name }}List() const;
    {% endif %}
    {% endfor %}

protected:
    {{ class_name }}() : ActData_BaseNode() {}

};

#endif
