#ifndef {{ class_name }}_HeaderFile
#define {{ class_name }}_HeaderFile

// OCCT & Active Data includes
#include <Standard_Boolean.hxx>
#include <Standard_Handle.hxx>
#include <Standard_Type.hxx>
#include <ActData_BaseNode.h>
#include <ActData_ParameterFactory.h>
#include <TopoDS_Shape.hxx>
#include <TColStd_HArray1OfReal.hxx>
#include <NCollection_Sequence.hxx>

// Parameter specific includes
{% set included_params = [] %}
{% for attr_name, attr in attributes.items() %}
  {% if attr.act_type not in included_params %}
#include <ActData_{{ attr.act_type }}Parameter.h>
    {% do included_params.append(attr.act_type) %}
  {% endif %}
{% endfor %}

{% if parent_class != "ActData_BaseNode" %}
#include "{{ parent_class }}.h"
{% endif %}

{% for child_name, child in children.items() %}
  {% if child.class_name != class_name %}
#include "{{ child.class_name }}.h"
  {% endif %}
{% endfor %}

/**
 * @brief MDA Generated Node for {{ class_name }}
 */
class {{ class_name }} : public {{ parent_class if parent_class else "ActData_BaseNode" }}
{
public:
    // OCCT RTTI
    DEFINE_STANDARD_RTTIEXT({{ class_name }}, {{ parent_class if parent_class else "ActData_BaseNode" }})

public:
    // Parameter IDs (Tags)
    enum ParamId
    {
        PID_FirstAttr = {{ parent_class if parent_class else "ActData_BaseNode" }}::UserParam_Last,
        {% for attr_name in attributes.keys() %}
        PID_{{ attr_name }},
        {% endfor %}
        PID_Last
    };

public:
    static Handle({{ class_name }}) Instance();

    // Custom initialization
    void InitNode();

    // Mandatory overrides for ActData_BaseNode
    virtual TCollection_ExtendedString GetName() override;
    virtual void SetName(const TCollection_ExtendedString& theName) override;

public:
    // Getters / Setters (MDA Generated)
    {% for attr_name, attr in attributes.items() %}
    void Set{{ attr_name }}(const {{ attr.cpp_type }}& value);
    {{ attr.cpp_type }} Get{{ attr_name }}() const;
    {% endfor %}

public:
    // Children management (MDA Generated)
    {% for child_name, child in children.items() %}
    {% if child.cardinality == "1" %}
    Handle({{ child.class_name }}) Get{{ child_name }}() const;
    void Set{{ child_name }}(const Handle({{ child.class_name }})& node);
    {% else %}
    void Add{{ child_name }}(const Handle({{ child.class_name }})& node);
    NCollection_Sequence<Handle({{ child.class_name }})> Get{{ child_name }}List() const;
    {% endif %}
    {% endfor %}

protected:
    {{ class_name }}() : {{ parent_class if parent_class else "ActData_BaseNode" }}() {}

};

#endif
