CompileFlags:
  Add:
    - "-Iinclude"
    - "-Ilibs/shxparser/include"
    - "-ID:/Qt/6.10.1/msvc2022_64/include"
    - "-ID:/Qt/6.10.1/msvc2022_64/include/QtWidgets"
    - "-ID:/Qt/6.10.1/msvc2022_64/include/QtGui"
    - "-ID:/Qt/6.10.1/msvc2022_64/include/QtCore"
    - "-ID:/Qt/6.10.1/msvc2022_64/include/QtOpenGL"
    - "-ID:/Qt/6.10.1/msvc2022_64/include/QtOpenGLWidgets"
    - "-ID:/GitHub_Ymqhyq/OCCT/build-vs2022-x64/inc"
    - "-m64"
    - "--target=x86_64-pc-windows-msvc"
    - "-fms-extensions"
    - "-fms-compatibility"
    - "-fdelayed-template-parsing"
    - "-std=c++17"
    - "-DQ_OS_WIN"
    - "-DUNICODE"
    - "-D_UNICODE"
